* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #fff;
}
.hflex {
  display: flex;
  flex-direction: row;
}
.vflex {
  display: flex;
  flex-direction: column;
}
nav {
  padding: 5px;
  justify-content: space-between;
}
@media all and (min-width: 700px) {
  nav {
    margin: 0px 20px;
    justify-content: space-between;
  }
}
a {
  text-decoration: none;
  color: #c700ff;
}
ul {
  list-style-type: none;
}
li {
  margin: 3px;
}
a:hover {
  color: #8c52ff;
}
a:active {
  color: #c700ff;
}
footer {
  width: 100%;
  height: auto;
  background-color: #222;
  text-align: center;
  padding: 40px;
}
button {
  background: none;
  border: none;
}
.active{
  color:#8c52ff !important;
}