@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.topwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .statictxt {
  color: #000;
  font-size: 30px;
  font-weight: 400;
}
.wrapper .dynamictxts {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin-top: -3px;
}
.dynamictxts li {
  list-style: none;
  color: #c700ff;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -182px;
  }
}
.dynamictxts li span {
  position: relative;
  margin: 5px 0;
  line-height: 40px;
}
.dynamictxts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  border-left: 4px solid #000;
  animation: typing 3s steps(7) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
@media all and (min-width:700px){
  .wrapper .statictxt {
    font-size: 60px;
  }
  .dynamictxts li {
    font-size: 60px;
  }
  .wrapper .dynamictxts {
    height: 90px;
    line-height: 90px;
  }
  .dynamictxts li span {
    line-height: 90px;
  }
  @keyframes slide {
    100% {
      top: -364px;
    }
  }
}
